Django==4.2.3
django-suit
django-extensions
django-debug-toolbar
django-import-export
django-storages
ipython
Celery
crispy-bootstrap5
django-crispy-forms
requests
django-filter
djangorestframework
djangorestframework-xml
djangorestframework-yaml
djangorestframework-simplejwt
drf-yasg
pymemcache
gunicorn
psycopg2-binary
django-environ

#flake
flake8
flake8-builtins
flake8-print

#pytest
pytest
pytest-django
pytest-cov
pytest-mock
model_bakery