{% extends 'base.html' %}

{% block title %}
    Rate List
{% endblock title %}

{% block content %}
    <a href="{% url 'rate_create' %}">Create</a><br>

    {% for rate in rates %}
        Id: {{ rate.id }}<br>
        Buy: {{ rate.buy }}<br>
        Sell: {{ rate.sell }}<br>
        Currency: {{ rate.get_currency_display }}<br>
        Source: {{ rate.source }}<br>
        {% if user.is_authenticated %}
            <a href="{% url 'rate_details' rate.pk %}">Details</a>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock content %}

